<?php

return $config = [
    'APP_URL' => 'http://localhost',
    'APP_ENV' => 'production',
    'APP_NAME' => 'The Festival',

    'STORAGE_PATH' => __DIR__ . '/public/storage/',

    'DB_HOST' => 'mysql',
    'DB_PORT' => 3306,
    'DB_USER' => 'developer',
    'DB_PASSWORD' => 'secret123',
    'DB_NAME' => 'festivaldb',

    'TURNSTILE_KEY' => '1x00000000000000000000AA',
    'TURNSTILE_SECRET' => '1x0000000000000000000000000000000AA',

    'MAIL_HOST' => '',
    'MAIL_USER' => '',
    'MAIL_PASSWORD' => '',
    'MAIL_PORT' => 587,
    'MAIL_DEBUG' => false,
    
    'STRIPE_PUBLIC_KEY' => '',
    'STRIPE_SECRET_KEY' => '',
    'STRIPE_WEBHOOK_SECRET' => '',

    // Set to null for no limit
    'CART_DANCE_MIN' => 1,
    'CART_DANCE_MAX' => null,
    'CART_YUMMY_CHILD_MIN' => 0,
    'CART_YUMMY_CHILD_MAX' => null,
    'CART_YUMMY_ADULT_MIN' => 1,
    'CART_YUMMY_ADULT_MAX' => null,
    'CART_HISTORY_SINGLE_MIN' => 1,
    'CART_HISTORY_SINGLE_MAX' => null,
    'CART_HISTORY_FAMILY_MIN' => 1,
    'CART_HISTORY_FAMILY_MAX' => 4,
];
