<?php

return $config = [
    'APP_URL' => 'http://localhost',
    'APP_ENV' => 'production',

    'STORAGE_PATH' => __DIR__ . '/public/storage/',

    'DB_HOST' => 'mysql',
    'DB_PORT' => 3306,
    'DB_USER' => 'developer',
    'DB_PASSWORD' => 'secret123',
    'DB_NAME' => 'festivaldb',
];
