:root {
    --primary: #3F835C;
    --primary-accent: #599563;
    --secondary: #1F4E66;
    --secondary-accent: #226C92;
    --buttons: #E6A640;
    --buttons-accent: #CC9439;
    --link: #4D5AEB;
    --error: #CD4747;
}

body {
    font-family: "Arial", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.full-container {
    display: contents;
}

.btn {
    width: fit-content;
}

select[disabled], input[disabled] {
    cursor: not-allowed;
    opacity: 0.8 !important;
}

/* Button styles are !important to force override Bootstrap */
.btn-custom-yellow {
    background-color: var(--buttons) !important;
    color: black !important;
    font-weight: bold !important;
    border-radius: 8px !important;
    padding: 6px 12px !important;
}
.btn-custom-yellow:hover {
    background-color: var(--buttons-accent) !important;
}
.btn-custom-green {
    background-color: var(--primary) !important;
    color: black !important;
    font-weight: bold !important;
    border-radius: 8px !important;
    padding: 6px 12px !important;
}
.btn-custom-green:hover {
    background-color: var(--primary-accent) !important;
}

.map-container {
    height: 800px;
}
